@import "~react-image-gallery/styles/css/image-gallery.css";

.album-view-wrapper {
    display: grid;
    grid-template-areas:
        "head"
        "main";
    text-align: center;
    grid-gap: 10px;
    margin: 10px 120px;
}

.sections {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 3px 0;
    background: rgba(183, 245, 196, 0.26);
}

.section-one {
    grid-area: head;
}

.section-three {
    grid-area: main;
}

.section-one h1 {
    font-size: 30px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 470px !important;
}

.bi-arrow-left-short {
    color: #fff;
    position: absolute;
    left: 00;
    top: -6px;
    font-size: 50px;
    box-shadow: 0 0 3px 0 black;
    width: 100px;
    cursor: pointer;
}

.section-one {
    position: relative;
    overflow: hidden;
}