.dashboard-container {
    position: relative;
    color: #fff;
    text-align: center;
}


.dashboard-wrapper {
    position: absolute;
    width: 90%;
    background-color: rgba(183, 245, 196, 0.26);
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    height: 550px;
    display: grid;
    border-radius: 10px;
    gap: 20px;
    padding: 0px;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
}

.album-wrapper .title-content {
    margin: 10px 0;
    font-size: 18px;
}

.album-wrapper {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    padding: 10px
}

.img-left,
.img-right {
    width: 50px;
    height: 50px;
}

.img-right {
    transform: rotatey(180deg);
}

.gallery-header {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    padding: 5px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    width: 90%;
}

.loader {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -60%);
}

.album-with-img {
    position: relative;
}

.album-with-img .image-content.fr img {
    position: absolute;
    left: 53.5%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 116px;
    height: 112px;
    border-radius: 0 6px 6px 0;
}

.album-with-img .image-content.bk img {
    width: 150px;
    height: 150px;
}

.dashboard-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 10px;
}

.dashboard-wrapper::-webkit-scrollbar {
    width: 6px;
}

.dashboard-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.6);
}